
{/* color de fondo del nav*/}
.custom-navbar{
  background-color: #323C45;
  height: 3.5rem;
}
.nav-btn-custom{
  color: #fff;
  text-decoration: none;
  background-color: transparent;

  border: none;

}

.nav-btn-custom:hover{
  color: #f14744;
}


